<launch>
  <!-- <node pkg="control" type="control_node.py" name="control_node" output="screen"/> -->
  <node pkg="planner" type="planner_node.py" name="planner_node" output="screen"/>
        <param name="waypoints_arr" value="[100, 0, 0, 50, 100, 50, 0, 0]" type="str"/>
  </node>
  <!-- <node pkg="drone" type="drone_node.py" name="drone_node" output="screen"/> -->
  
  <node pkg="drone_dummy" type="drone_dummy_node.py" name="drone_node" output="screen"> 
    <!-- WORKSPACE/src/drone_dummy/data as root -->
    <param name="statelog" value="telemetry/state-log-20240522145803.cvs" type="string"/>
  </node>
  <!-- <node pkg="mapping" type="mapping_node.py" name="mapping_node" output="screen"/> -->
  <node pkg="odometry" type="odometry_node.py" name="odometry_node" output="screen"/>
  <node pkg="cockpit" type="cockpit_node.py" name="cockpit_node" output="screen"/> 
  <node pkg="cockpit" type="control_node.py" name="control_node" output="screen"/>
  <!-- <node pkg="cockpit" type="planning_node.py" name="planner_node" output="screen"/> -->
  <node pkg="cockpit" type="cv_node.py" name="cv_node" output="screen"/>
  <!-- <node pkg="cockpit" type="odometry_node.py" name="odometry_node" output="screen"/> -->
</launch>
