<launch>
    <!-- 
    Specify values that are passed via the command-line.
    You must explicitly pass arg values to an included file, much like you would in a method call.
    Default value can be overriden by command-line argument.
    Usage: `roslaunch %YOUR_ROS_PKG% %YOUR_LAUNCH_FILE% %ARG_NAME%:=%VALUE%`
    -->
    <arg name="number_of_victims"/>
    <!-- https://wiki.ros.org/Names#Resolving -->
    <node pkg="planner" name="planner_node"  type="planner_node.py" output="screen">
        <!-- 
        Set a private parameter for the node (since inside a node tag).
        These parameters will be stored on the Parameter Server before any nodes are launched.
        Usage: `rosrun %YOUR_ROS_PKG% %YOUR_NODE% _%PARAM_NAME%:=%VALUE%`
        -->
        <!-- https://wiki.ros.org/roslaunch/XML#substitution_args -->
        <param name="num_of_victims_to_rescue" value="$(arg number_of_victims)" type="int"/>
    </node>
</launch>