<launch>
  <!-- Launch file for tello module -->
  <include file="$(find tello)/tello.launch" />

  <!-- Launch file for battery module -->
  ><include file="$(find battery)/battery.launch" />

  <!-- Launch file for control module -->
  <include file="$(find control)/launch/control.launch" />
</launch>
